@import './base.css';

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 0 2rem;
  }
  root{
    --color-text: white;
  }
  h1{
    color: white;
  }
  .date{
    color: #4f805d;
  }
}
